@font-face {
  font-family: 'GT Pressura Mono Trial';
  src: url('GT-Pressura-Mono-Bold.eot'); /* IE9 Compat Modes */
  src: url('GT-Pressura-Mono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GT-Pressura-Mono-Bold.woff') format('woff'), /* Modern Browsers */
       url('GT-Pressura-Mono-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GT-Pressura-Mono-Bold.svg#ee290c1ca299417443ead9e880cc0ea5') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'GT Pressura Mono Trial';
  src: url('GT-Pressura-Mono-Regular.eot'); /* IE9 Compat Modes */
  src: url('GT-Pressura-Mono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GT-Pressura-Mono-Regular.woff') format('woff'), /* Modern Browsers */
       url('GT-Pressura-Mono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GT-Pressura-Mono-Regular.svg#878b7de18570b5e49ea14edfb1ac6e29') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('GT-Pressura-Regular.otf') format('opentype');

    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('GT-Pressura-Bold.otf') format('opentype');

    font-style:   normal;
    font-weight:  700;
}
