body {
  font-family: 'GT Pressura', 'Calibri', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background-color: #DAEBD8;

}

h1 {
  font-size: 4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

p {
  font-size: 1.2rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner {
  display: inline-block;
  width: 45px;
}

.banner-text {
  font-size: 1.6rem;
}

.banner-big {
  display: none;
  width: 80%;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
}

.content-box-content {
  width: 100%;
}

.program-entry {
  margin-bottom: 30px;
  color: #DAEBD8;
  text-align: left;
  border: 1px solid #293c4b;
  flex: 1;
}

.program-entry h2 {
  margin: 0;
}

.program-entry-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #293c4b;
}

.program-entry-header-content {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.program-entry-body {
  background-color: #DAEBD8;/*#F5CBD7;*/
  color: #293c4b;
}

.program-entry-body-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
}

.program-entry-body-title-and-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.program-entry-body-summary {
  margin: 0;
}

.program-entry-body-presenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  text-align: center;
  justify-content: center;
}

.program-entry-body-presenter-image {
  width: 100px;
  border-radius: 50%;
}

.program-entry-body-presenter-name {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
}

@media (min-width: 870px) {
  .content {
    max-width: 80%;
  }
  .banner-big {
    display: block;
  }

  .header-logo {
    display: none;
  }

  .double-content {
    display: flex;
    flex-direction: row;
  }

  .double-content * {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .content-box-content {
    width: 90%;
  }
}